@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sansita+Swashed:wght@300;400&display=swap');

body{
    background-color: aliceblue;
    font-family: 'Sansita Swashed', cursive;
}
h1, h3{
    text-align: center;
}
h3{
    /* display: flex;
    flex-wrap: wrap; */
    font-weight: 500;
}
#puzzle-container{
    margin: auto;
}
#puzzle-image{
    width: 800px;
}
#full-image{
    width: 500px;
}

/* both image containers */
.image-container{
    float: left;
    /* display: flex;
    flex-wrap: wrap; */
}
img{
    margin: 0px 40px;
}
.btns-container{
    text-align: center;
    /* flex-wrap: wrap; */
}
.btn{
    margin: 30px;
}