@import url('https://fonts.googleapis.com/css2?family=Abel&family=Sansita+Swashed:wght@300;400&display=swap');

body{
    background-color: aliceblue;
    font-family: 'Sansita Swashed', cursive;
}
h1, h3{
    text-align: center;
}
h3{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}

/* puzzle images */
#puzzle-container{
    width: 800px;
    height: 450px;
    margin: 0px;
}
.puzzle{
    height: 112px;
    border: 0.5px solid #666; ;
}

/* full model image */
#full-image{
    width: 400px;
}

/* both image containers */
.image-container{
    float: left;
    display: flex;
    flex-wrap: wrap;
}
#full-image-container{
    width: 400px;
    margin: 0px;
}

/* buttons */
.btns-container{
    text-align: center;
    /* flex-wrap: wrap; */
}
/* win message */
#winner-message{
    background-color: pink;
    text-align: center;
}
/* https://web.dev/drag-and-drop/ */
/* box formatting */
.container {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
}
.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}
.box.over {
    border: 3px dotted #666;
}

 